@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding-inline: 15px;
  letter-spacing: 0.5%;
}

.container {
  max-width: 1636px;
  margin-inline: auto;
}

.navlink {
  @apply text-lg text-end md:text-2xl lg:text-base lg:transition-colors text--hover;
}

.title {
  letter-spacing: 0.5%;
  @apply text-2xl md:text-4xl lg:text-5xl;
}

.text {
  @apply text-sm md:text-base transition-colors;
}

.text--hover:hover {
  @apply text-red-600;
}

.subtitle {
  @apply text-xl md:text-2xl lg:text-3xl;
}
