---
import Header from "../components/ui/Header.astro";

import '../index.css'
---

<!doctype html>
<html class="light" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
