---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<div
  class="flex flex-col w-full bg-white border border-gray-200 shadow-2xs rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
>
  <div class="p-4 md:p-7">
    <slot name="icon" />
    <h3 class="cardTitle text-gray-800 dark:text-white subtitle">{title}</h3>
    <p class="mt-2 text-gray-500 dark:text-neutral-400">{description}</p>
  </div>
</div>

<style>
  .cardTitle {
    letter-spacing: 0.5%;
  }
</style>
