---
import Navigation from './Navigation.astro'
import UIButton from './UIButton.astro'
---

<div
  id="mobile-menu"
  class="lg:hidden fixed inset-0 bg-black bg-opacity-50 z-50 transition-all duration-200 opacity-0 invisible"
>
  <div
    class="bg-white w-1/2 h-full p-5 flex flex-col justify-between transform transition-all duration-200 translate-x-full"
  >
    <button id="close-button" class="self-end top-5 right-5">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <Navigation />
    <UIButton
      class="text w-fit self-center justify-self-end hover:bg-red-600 px-3 py-[10px]"
      >Записаться</UIButton
    >
  </div>
</div>

<style>
  #mobile-menu {
    transition: all 0.2s;
    transition-delay: 0ms;
  }
</style>
